.img {
    float: left;
    width: 246px;
    height: 500px;
}

.content {
    margin-left: 270px;
}

.content *{
    font-size: 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 35px;
    margin-bottom: 35px;
}

.clearfix {
    clear: both;
}