{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="style/main.css">
{% endblock %}

{% block main %}
    <div class="hello">
        <h1>Добро пожаловать в наш магазин!</h1>
        <p>Чтобы начать, выберите одну из категорий в верхнем меню.</p>
    </div>
{% endblock %}


