{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="style/form.css">
{% endblock %}
{% block main %}
    <p class="form-title">{{ message }}</p>
    <form action="" method="post">
        <label for="name">Название продукта</label>
        <input type="text" name="name" placeholder="redmi 6a">

        <label for="price">Цена продукта</label>
        <input type="text" name="price" placeholder="5000.00">

        <label for="description">Описание продукта</label>
        <input type="text" name="description" placeholder="Бла, бла, бла">

        <label for="category">Категория продукта</label>
        <select name="category" id="category">
            <option value="" selected>Выберите категорию</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <label for="image_path">Изображение</label>
        <input type="text" name="image_path">

        <input type="submit" name="btn" value="Добавить">
    </form>
{% endblock %}